body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container-fluid {
    background-color: whitesmoke;

}
.row .right {
    background-color: white;
    padding: 0;
    margin: 0;
}

.row .left .loginForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.left .loginForm .input {
    width: 160px;
}

.home .carousel-item {
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: 1;
}



.home .carousel-item .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .carousel-item h1 {
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-item p {
    font-size: 30px;
    color: #eeeeee;
    margin: 0;
    opacity: 0;
}

.home .carousel-item.active h1 {
    animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.home .carousel-indicators button {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.home .carousel-indicators button.active {
    border: 3px solid #fff;
    transform: scale(1.2);
}

.home .carousel-control-prev,
.home .carousel-control-next {
    height: 60px;
    width: 60px;
    top: 50%;
    border-radius: 50%;
    margin: 0 15px
}

.home .carousel-control-prev:hover,
.home .carousel-control-next:hover {
    box-shadow: 0 0 10px #ffffff;
}

/*responsive*/
@media(max-width: 767px) {

    .home .carousel-control-prev,
    .home .carousel-control-next {
        display: none;
    }

    .home .carousel-indicators button {
        height: 50px;
        width: 50px;
    }

    .home .carousel-item h1 {
        font-size: 45px;
    }

    .home .carousel-item p {
        font-size: 22px;
    }
}

