:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    background-color: red;
}

.split-screen {
    display: flex;
    flex-direction: column;
}

.left {
    height: 200px;
    background-color: red;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .copy {
    text-align: center;
}

.right .copy {
    text-align: center;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

label {
    padding: 0 5px;
}

form input[type="submit"] {
    width: 100%;
    display: block;
    border-radius: 15px;
}

form input[type="file"] {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

@media screen and (min-width:900px) {
    .split-screen {
        flex-direction: row;
        height: 100vh;
    }

    .left, .right {
        display: flex;
        width: 50%;
        height: auto;
    }
}